<html>
    <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

    <script>

function getUsers() {
       var people = [];

      $.ajax({
      type: 'GET',
      url: 'worker-users',
      success: function(data) {
        $.each(data, function(i, f) {
            a = f.firstname;
            if (!a ){
                a = f.name;
            }
            if (a ){
            var tblRow =  "<tr>" +  "<td>" + a + "</td>" +  "<td>" + f.lastname + "</td>" + "<td>" + f.position + "</td>" +  "<td>" + f.username+ "</td>"
              + "<td>" + f.password + "</td>"   + "<td>"+ "</td>" + "</tr>"
              $(tblRow).appendTo("#userdata tbody");}
    })}})};

    window.onload = getUsers(); 
    $(document).on("click", "#refreshBtn",function(){
        $("#userdata tbody").children().remove();
        getUsers();
    });


    $(document).on("click", "#addUserBtn",function(){
      firstName = document.getElementById("firstName").value;  
      lastName = document.getElementById("lastName").value;
      password = document.getElementById("password").value;
      username = document.getElementById("username").value;
      $('#waiting').show();  
   $.ajax({
    type: 'POST',
    url: 'add-user',
    data: { 
        firstName: firstName,
        lastName : lastName,
        position: "Worker",
        password: password,
        username: username
    },
    cache: false,
    success: function() {
      $('#waiting').hide();
    },
    timeout: 5000, 
    error: function() {
      $('#error').show();
    },
});
      // function(data, status){
      // alert("Data: " + data + "\nStatus: " + status);
//    }); 
 });


 // Put the results in a div


    </script>
    </head>

    <body>
      <div id="center">
        <table class="table" id="userdata">
          <thead>
            <tr>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Position</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <p><button id="refreshBtn"><i class="glyphicon glyphicon-refresh" style="font-size:50px;"></i></button></p>
      </div>

      <div>
         <div class="input-group-prepend">
            <span class="input-group-text" >First Name</span>
          </div>
        <input type="text" class="form-control" id="firstName" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" >Last Name</span>
        </div>
        <input type="text" class="form-control" id="lastName" aria-label="Small2" aria-describedby="inputGroup-sizing-sm2">
        <div class="input-group-prepend">
          <span class="input-group-text" >Username</span>
        </div>
        <input type="text" class="form-control" id="username" aria-label="Small3" aria-describedby="inputGroup-sizing-sm3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Password</span>
        </div>
        <input type="text" class="form-control" id="password" aria-label="Small4" aria-describedby="inputGroup-sizing-sm4">
      </div>


      <button type="button" class="btn btn-primary" id="addUserBtn">Add Worker</button>
    </div>
    <div id="waiting" style="display: none;">
      <span class="input-group-text" >Waiting...</span>
  </div>
  <div id="waiting" style="display: none;">
    <span class="input-group-text" >Error</span>
</div>
  </body>
    </html>
